llama-cpp-python
accelerate
sentencepiece
dotenv
torch
pandas
spacy
pydantic
sentencepiece
dotenv
torch[cu126]
peft
protobuf
pyyaml
spacy
pydantic
typing-extensions
json_repair
langgraph
transformers
datasets
huggingface
peft